h3
{
  font-weight: 400;
}

.main-title
{
  display: flex;
  justify-content: center;
}
.subtitle
{
  color: var(--text-secondary);
  text-align: center;
}

.hidden
{
  opacity: 0;
  user-select: none;
}

.column:nth-child(2)
{
  margin-left: 120px;
}


.label.wip
{
  background-color: rgba(126, 216, 141,.3);
}
.label.todo
{
  background-color: rgba(255,115,87,.3);
}
